/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "../scss/animate/animate";
@import "../scss/bourbon/bourbon";
@import "../scss/neat/neat";
@import "../scss/animation";

@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot');
	src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flexslider-icon.woff') format('woff'),
		url('../fonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}


//Variables
$arno: 'Arno W01 SmBd';
$avenir: 'Avenir LT W01 45 Book';
$avenir-light: 'Avenir LT W01 35 Light';
$francois: 'Francois One', sans-serif;
$white: #fff;
$offwhite: #eee;
$gray: #515151;
$blue: #00b4ff;
$black: #000;
$ltrblack: lighten($black, 10%);
$graytrans: rgba(51,51,51,0.30);
$lblack: lighten(#000, 10%);

//Mixins
@mixin transition($transition-property, $transition-time, $method) {

-webkit-transition: $transition-property $transition-time $method;

-moz-transition: $transition-property $transition-time $method;

-ms-transition: $transition-property $transition-time $method;

-o-transition: $transition-property $transition-time $method;

transition: $transition-property $transition-time $method;

}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
//------------------------------
// Media Query Defines
//------------------------------
$mobile: new-breakpoint(max-width 768px 6);


//Layout

html {
	background-color: $white;
}
a {
	color: $black;
	text-decoration: none;
	font-size: 1em;
	@include transition (all, 0.15s, ease-out);

	&:hover, :focus {
		background-color: $black;
		color: $white;
	}
}

section#intro {
	background: url(../images/lw-bg.jpg) repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 11;
	h1 {
		color: #fff;
		font-size: 95px;
		line-height: 135px;
		text-align: center;
		margin: auto 0;
		font-family: $francois;
		text-transform: uppercase;
		cursor: pointer;
	}
	h3 {
		display: block;
		width: 60px;
		height: 200px;
		margin: 3em auto 0;
		cursor: pointer;
		span {
			background: url(../images/loading-arrow.png) 0 100%;
			height: 38px;
			width: 55px;
			float: left;
			display: block;
			margin-top: -6px;
			opacity: .70;

			&.first {
				-webkit-animation: firstarrow 1.5s infinite;
			}
			&.second {
				-webkit-animation: secondarrow 1.5s infinite;
			}
			&.third {
				-webkit-animation: thirdarrow 1.5s infinite;
			}
		}

	}

}

#sidebar {
	width: 17%;
	float: left;
	border-right: 1px solid $gray;
	height: 100%;
	position: fixed;
	z-index:10;
	background-color: $white;
	.branding {
		width: 62%;
		margin: 2rem auto 1rem;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid transparent;
		img {
			width: 100%;
			margin-bottom: -4px
		}
		&:hover {
			-webkit-animation: rotate 5s linear infinite;
    		 	border: 2px solid $blue;
		}
		@-webkit-keyframes rotate {
		    from{
		        -webkit-transform: rotate(0deg);
		    }
		    to{
		        -webkit-transform: rotate(360deg);
		    }
		}
	}
	nav {
		ul {
			li {
				@include transition(all, 0.15s, linear);
				margin-top: 0px;
				padding: 10px 0;
				width: 99%;
				border: 1px solid transparent;
				&:hover {
					background-color: lighten($offwhite, 20%);
					width: 105%;
					border-top: 1px solid $graytrans;
					border-bottom: 1px solid $graytrans;
					border-right: 1px solid $graytrans;
					&:after {

					}
				}
				&.active {
					background-color: lighten($offwhite, 20%);
					width: 105%;
					border-top: 1px solid $black;
					border-bottom: 1px solid $black;
					border-right: 1px solid $black;
				}
				a {
					font-family: $arno;

					color: #000;
					text-decoration: none;
					font-weight: bold;


					h1 {
						font-size: 1.8em;
						margin-left: 45px;
					}

					h2 {
						font-weight: normal;
						font-family: $avenir;
						margin-left: 45px;
					}
				}
			}
		}
		font-family: $arno;
	}
	.social {

		ul {
			text-align: center;
			margin-top: 2rem;

			li {
				margin-bottom: .5rem;
				h2 {
					font-family: $francois;
					text-transform: uppercase;
					font-size: 0.9em;
					line-height: 1.7em;
					color: $black;
				}
				a {
					font-family: $avenir-light;
					font-size: 0.9em;
					line-height: 1.7em;
				}


			}
		}
	}

}
#content-holder {
	width: 83%;
	float: right;
	position:relative;

	#current-opportunity {
		h1 {
			padding: 20px 0;
			background-color: lighten(#000, 10%);
			text-align: center;
			font-family: $francois;
			color: $white;
			font-size: 1.8em;
			line-height: 1.7em;
		}
	}

	.main-wrap {
		background: white;
		  height: 260px;
		  width: 60%;
		  margin: 100px auto;
		  padding: 5px;
		  display: flex;
		  justify-content: center;
		  align-items: center;

		 border: 3px solid $black;

		.main-content {
			background: black;
			color: white;
			width: 70%;
			padding: 30px 40px;
			overflow: auto;

			text-align: left;

			p {
				margin: 5px 0;
				line-height: 18px;
			}

			h2 {
				font-family: $arno;
				margin: 0 0 10px;
				font-size: 21px;
			}
			.tagline {
				font-family: $avenir;
			}

			a {
				color: $white;
				border: 1px solid transparent;

			}
			a:hover {
				color: $black;
				background: $white;
				//border: 1px solid $blue;
			}

		}
	}


	#projects {
		z-index: 1;

		&.collapse {
			height: 0;
			padding: 0;
		}

		h1 {
			padding: 20px 0;
			background-color: lighten(#000, 10%);
			text-align: center;
			font-family: $francois;
			color: $white;
			font-size: 1.8em;
			line-height: 1.7em;


		}
		.project-list {
			li {
				position: relative;

				&:hover {
					.project-header { display: block;}
				}
				a {


					.image-wrapper {
						max-height: 350px;
						overflow: hidden;
						position: relative;
						@include transition(all, 0.15s, linear);
						&:hover {
							@include box-shadow(0, 0, 80px, rgba(0,0,0, 0.4), true);
							cursor: pointer;

						}
						@media ($mobile){
							max-height: 160px;
						}
						img {
							@media($mobile) {
								width: 110%;
								right: 20px;
							}

							width: 100%;
							z-index: -1;
							position: relative;
						}

					}
				}
				.project-header {
					position: absolute;
					z-index: 2;
					top: 150px;
					width: 100%;

					display: none;
					@include media($mobile) {
						width: 100%;
						top: 50px;

						@include shift( 2 );
					}

					.wrap {

						@include media($mobile) {
							width: 30%;
							padding: 10px 20px;
						}
						width: 15%;
						margin: 0 auto;
						background-color: lighten(#000, 10%);
						padding: 20px 0px;
						text-align: center;
						@include box-shadow(0, 0, 3px, $blue, true);


						-webkit-animation-duration: 0.2s;
						-moz-animation-duration: 0.2s;
						-ms-animation-duration: 0.2s;
						-o-animation-duration: 0.2s;
						animation-duration: 0.2s;
						-webkit-animation-delay: 0s;
						-moz-animation-delay: 0s;
						-ms-animation-delay: 0s;
						-o-animation-delay: 0s;
						animation-delay: 0s;


						h2 {
							@include media($mobile ) {
								font-size: 0.8em;
							}
							font-family: $francois;
							font-size: 1.2em;
							color: $white;
							padding: 0 20px;
						}
						h3 {
							font-family: $francois;
							font-size: .9em;
							color: $white;
							padding: 0 10px;
							margin-top: 8px;
						}
					}
				}
			}
		}
	}
	#project-container {
		@include span-columns(12);
		padding-bottom: 29px;

		&.fadeInRight {
			@include fadeInRight(.2s, .05s, ease, both, hidden);
		}

		h2.project.header{
			padding: 20px 0;
			background-color: lighten(#000, 10%);
			text-align: center;
			font-family: $francois;
			color: $white;
			font-size: 1.8em;
			line-height: 1.7em;


		}
		.pagination.wrapper {
			width: 100%;

			.project-next{
				float: right;
				margin-right: 2.2em;

				&:before {
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-left: 8px solid $lblack;
					right: -105px;
					content: '';
					position: relative;
					top: 27px;
					display: inline-block;
				}
			}
			.project-prev {
				float: left;
				margin-left: 2.2em;

				&:before {
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					border-right: 8px solid $lblack;
					right: 25px;
					content: '';
					position: relative;
					top: 27px;
					display: inline-block;
				}
			}

			position: absolute;
			top: 230px;
			z-index: -1;
			.paginate{
				position: relative;
				z-index: 2;
				a {
					text-decoration: none;
					color: $lblack;
					h4 {
						text-decoration: none;
						font-family: $francois;

					}
					h3 {
						margin-top: .5em;
						font-family: $avenir;
						text-align: center;
						font-size: 0.9em;
					}
				}
				&:before {
					opacity: 0.5;
				}
				&:hover {

					&:before {
						opacity: 1;
					}
				}

			}

		}

		.project.wrapper {
			@include span-columns(7 of 12);
			@include shift(2.5);

			font-family: $avenir;

			h1{
				font-family: $francois;

			}



			ul.images {
				padding-top: 32px;
				li {

					img {
						width: 100%;
					}
				}
			}

			.content {
				border-color: lighten(#000, 10%);
				border-bottom: 3px solid;
				border-top: 3px solid;
				margin-top: 1.2em;
				padding-top: 1.6em;
				padding-bottom: 1.6em;
				padding-right: 2.1em;
				padding-left: 2.1em;

				.live.link{
					border: 3px solid lighten(#000, 10%);
					padding: .9em 2em .9em 2em;
					margin: 2rem auto 0 auto;
					display: table;
					font-size: 0.7em;
					color: #000;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $francois;
					line-height: 1.5em;

					&:hover {
						background-color: lighten(#000, 10%);
						cursor: pointer;
						color: #fff;
						box-shadow: 0 0 0 1px $blue;
					}
				}
				.credit {
					margin-top:.7em;
					font-size: 0.9em;
					text-align: center;
					font-family: $avenir-light;


					strong {
						font-size: 1em;
						font-weight: bold;
					}
				}
				.role.devel {
					margin-top: 1.7em;
					font-size: 0.9em;
					//font-weight: bold;
					text-align: center;
					text-transform: uppercase;
					font-family: $arno;
					font-family: $francois;

					span {

						font-weight: normal;

					}
				}
				p {
					font-size: 19px;
					line-height: 27px;
					color: rgba(51, 51, 51, 0.80);
					margin-bottom: 27px;
					font-family: $avenir;
				}
			}


		}
	}
	#content-wrapper {
		@include span-columns( 12 );

		&.fadeInRight {
			@include fadeInRight(.2s, .05s, ease, both, hidden);
		}

		h1 {
			padding: 20px 0;
			background-color: lighten(#000, 10%);
			text-align: center;
			font-family: $francois;
			color: $white;
			font-size: 1.8em;
			line-height: 1.7em;
		}

		/*  =============================================================================
			About Page
		  ============================================================================= */
		#about {
			@include span-columns( 6 of 12 );
			@include shift( 3 );
			padding-top: 2rem;
			padding-bottom: 4rem;

			.profile-image {
				width: 16rem;
				height: 16rem;
				margin: 2.5rem auto 0 auto;
				border-radius: 50%;
				background-image: url(../images/law-2016.jpg);
				background-size: 100%;
				margin-top: 2.5rem;
				margin-bottom: 2.5rem;


				clear: both;
			}

			h2 {
				 font-size: 29px;
				 font-family: $arno;
				 line-height: 27px;
				 margin-bottom: 27px;
				 font-weight: 400;
				 font-style: normal;

			}
			h1.about-title {
				 font-family: $francois;
				 font-size: 97px;
				 line-height: 90px;
				 text-align: center;
				 text-transform: uppercase;
				 font-weight: 400;
				 font-style: normal;
				 width: 802px;
				 background-color: transparent;
				 color: $black;
			}


			p.intro {
				font-family: $arno;
				margin-bottom: 27px;
				font-size: 26px;
				border-top: 1px;
				border-bottom: 1px;
				padding: 30px;
				text-align: center;
				border-style: solid;
				margin-top: 27px;
				line-height: 39px;
				font-weight: 600;
				font-style: normal;

			}
			p {
				font-size: 19px;
				line-height: 27px;
				color: rgba(51, 51, 51, 0.80);
				margin-bottom: 27px;
				font-family: $avenir;


			}
		}

		/*  =============================================================================
			Contact Page
		  ============================================================================= */
		#contact {
			@include span-columns( 6 of 12 );
			@include shift( 3 );

			p {
				font-size: 1.1em;
				line-height: 27px;
				color: rgba(51, 51, 51, 0.80);
				margin-bottom: 27px;
				font-family: $avenir;
				margin-top: 4rem;

				a {
					color: $black;
					text-decoration: none;
					font-size: 1em;

					&:hover, :focus {
						background-color: $black;
						color: $white;
					}
				}

			}
			table {
				width: 100%;
				font-family: $avenir;
				font-size: 1.1em;

				th, td {
					padding: 0.5em 0.3em;
				}

				tbody {

					tr {
						border-top: 1px dotted #ccc;

						&:hover {
							background-color: rgba(255,255,255,0.05);
						}

						td a {
							color: $black;
							text-decoration: none;
							font-size: 1em;

							&:hover, :focus {
								background-color: $black;
								color: $white;
							}
						}
					}
				}
			}
		}
	}




}
footer {
	clear: both;
	position: fixed;
	z-index: 3;
	bottom: 0;
	background: $ltrblack;
	color: #fff;
	width: 83%;
	font-family: $avenir;
	padding: 8px 0 8px;
	font-size: .8em;
	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p{
		text-align: right;
		padding-right: 5px;
	}

}


/*  =============================================================================
	Responsive Queries
  ============================================================================= */

  $screen-md-max: 1450px;
  $screen-md-min: 996px;
  $screen-sm-max: 995px;
  $screen-sm-min: 769px;
  $screen-xs-max: 768px;
  $screen-xs-min: 320px;
  $screen-xs-fix: 400px;


@media only screen and (max-width: $screen-md-max) {
	#content-holder {
		width: 80%;

		#projects {
			h1  {
				font-size: 1.1em;
				line-height: 0.9em;
			}

			.project-list {
				.image-wrapper img {
					margin-bottom: -3px;
				}
				li {
					.project-header {
						top: 40%;
						.wrap {
							width: 25%;
						}
					}
				}


			}
		}

		#content-wrapper {

			#about {
				width: 70%;
				margin-left: 15%;

				h1.about-title {
					width: 100%;
					font-size: 97px;
				}

				.profile-image {
					margin: .55rem auto 1.5rem;
				}
			}

			#contact {
				width: 70%;
				margin-left: 15%;
				padding-bottom: 5rem;
			}
		}

	}

	#sidebar {
		width: 20%;
	}
	footer {
		width: 80%;
	}
}

@media only screen and (max-width: $screen-sm-max) {
	#content-holder {
		width: 70%;

		#projects {
			h1  {
				font-size: 1.1em;
				line-height: 0.9em;
			}

			.project-list {
				.image-wrapper img {
					margin-bottom: -3px;
				}
				li {
					.project-header {
						top: 40%;
						display: block;
						.wrap {
							width: 25%;

							h2 {
								font-size: 1em;
							}
						}
					}
				}


			}
		}

	}
	#sidebar {
		width: 30%;
	}
	footer {
		width: 70%;
	}

	#content-holder {
		#project-container {
			h2.project.header {
				font-size: 1.1em;
				line-height: 1.3em;
			}
			.project.wrapper {
				width: 52%;
				margin-left: 24%;
				.content {
					padding: 1.6em 0 1.6em;
					p {
						font-size: 1em;

					}
				}
			}
			.pagination.wrapper {
				.paginate {
					a {
						font-size: 0.9em;
					}

					&.project-next {
						&:before {
							right: -95px;
						}
					}
				}
			}
		}

	}
}


@media only screen and (max-width: $screen-xs-max) {
	#sidebar {
		float:right;
		width: 100%;
		position: relative;

		.branding {
			width: 22%;
			margin-top: 1rem;

		}
		nav {

			ul {
				li {
					width: 33%;
					float: left;
					border: none;

					&.active, &:hover {
						width: 33%;
						border: none;
						background-color: $ltrblack;
						border-radius: 6px;


						a {
							color: $white;
						}
					}
					&:active {
						border: none;
					}

					a {

						h1, h2 {
							margin-left: 0;
							text-align: center;
						}
						h1 {
							font-size: 1.2em;
						}
						h2 {
							font-size: 0.8em;
						}
					}

				}
			}
		}
		.social {

			ul {
				li {
					width: 50%;
					float: left;
					margin-top: 1rem;
					margin-bottom: 1rem;
				}
			}
		}

	}
	#content-holder {
		clear:right;
		width: 100%;

		#projects {

			.project-list {
				li {
					.project-header {
						margin-left: 0;
						.wrap {
							width: 30%;
							h2 {
								font-size: 0.9em;
							}
						}


					}
				}
			}
		}
	}
	footer {
		width: 100%;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 525px), (max-width: 525px) {
	#sidebar {
		border: none;
		.branding {
			width: 32%;
			margin-top: 1rem;

		}
	}
	#content-holder {

		#projects {

			.project-list {
				li {


					.project-header {
						margin-left: 0;
						.wrap {
							width: 35%;
							h2 {
								padding: 0;
								font-size: 0.8em;
							}
						}
					}
				}
			}
		}

		#project-container {

			.pagination.wrapper {
				top: 140px;
				.paginate {

					&:before {
						display: none;
					}

					&.project-next {
						margin-right: 0.8em;
						a{
							border-top: 16px solid transparent;
							border-bottom: 16px solid transparent;
							border-left: 16px solid #1a1a1a;
						}
					}

					&.project-prev {
						margin-left: 0.8em;
						a{
							border-top: 16px solid transparent;
							border-bottom: 16px solid transparent;
							border-right: 16px solid #1a1a1a;
						}
					}

					a {
						h4, h3 {
							display: none;
						}

						display: block;
						height: 20px;
						width: 20px;
						opacity: 0.75;

						&:hover {
							opacity: 1;
							background: none;
						}

					}

				}
			}

			.project.wrapper {
				width: 70%;
				margin-left:15%;
			}

		}

		#content-wrapper {

			h1 {
				font-size: 1.1em;
				line-height: 1.3em;
			}

			#about {
				width: 80%;
				margin-left: 10%;

				h1.about-title {
					width: 100%;
					font-size: 60px;
				}

				.profile-image {
					margin: .55rem auto 1.5rem;
				}
				h1.about-title {
					font-size: 2.7em;
					line-height: 2.2em;
				}
				p.intro {
					font-size: 1.2em;
				}
				p {
					font-size: 1em;
				}

			}

			#contact {
				width: 80%;
				margin-left: 10%;
				padding-bottom: 5rem;

				table {

					thead {
						display: none;
					}

					tbody {
						td:nth-child(3) {
							display: none;
						}
						td:nth-child(1) {
							display: none;
						}
						td {
							font-size: 0.9em;
						}

					}
				}
			}
		}
	}

}