@-webkit-keyframes firstarrow{
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.5;
	}
	20% {
		opacity: 1;
	}
}
@-webkit-keyframes secondarrow {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0.5;
	}
	40% {
		opacity: 1;
	}
}
@-webkit-keyframes thirdarrow {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5
	}
	60% {
		opacity: 1;
	}
}